/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import './lib/fonts.css';

:root {
  --topbar-height: 3rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  font-family: 'Noto Sans', system-ui, sans-serif;
  font-weight: 300;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

button {
  all: unset;
  color: inherit;
  user-select: none;
  font-family: inherit;
  cursor: pointer;
  padding: 0.5em 1em;
}

button:hover {
  background-color: hsl(0 0% 100% / 5%);
  backdrop-filter: blur(4px);
}

#root {
  display: flex;
  width: 100%;
  height: 100%;
}
body.idle {
  cursor: none;
}

.fades-on-idle {
  transition: opacity 0.3s;
}
.idle .fades-on-idle {
  transition: opacity 0.5s;
  opacity: 0;
}
